<% if(it.src) {%>
	<div class="W100p Bdrd2u P0 ">
		<pre class="D M0 <%= it.Fns ||"Fns2u"%> Lnh1.8 "><code class="language-<%= it.lang%> Mxh55u"><%- include(it.src)%></code></pre>
	</div>
<% } else {%>
	<p class="C-red"> Неверно указан источник</p>
<%}%>
