<% if(it.src) {%>
	<div class="W100p Bdrd2u P0 M0;0;2u">
		<pre class="D M0 Fns2u xxl_Fns2.2u Lnh1.8 code"><code class="language-<%= it.lang%> "><%- include(it.src)%></code></pre>
	</div>
<% } else {%>
	<p class="C-red"> Invalid source</p>
<%}%>
