<a href="<%= it.link%>" alt="Link to the project's GitHub" target="_blank"
  class="-Ctx-logo D Bxs-cb W100p">
    <svg
			viewBox="0 0 100 100"
      class="W100p Mxw25u Apcr1 Fi-$accent850 Fio1 ^logo:h:_Fi-$brand Ts-$shortTs">
      <use href="/assets/img/icons.svg#<%= it.icon%>"></use>
    </svg>
</a>