@use 'mlut' with (
  $jit: (
    'output': 'dist/assets/style/style.min.css',
    'content': ['src/**/*.ejs','src/**/*.json','src/assets/script/**/*.js'],
    'minify': true
  ),
);

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

.hljs{
	width:100%;
	font-size:1.2em;
	border-radius:8px;
}


.btn {
	user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html{
	--ml-heroPadding: calc(var(--ml-headerH) + 10px);
	--ml-core850:rgba(0,0,0,0.9);
	--ml-primaryBright600:#2b7fff;
	--ml-primaryBright650:#155dfc;
	--ml-secondaryBright600:#f0438c;
	--ml-secondaryBright650:#e91e63;
	--ml-tertiaryBright600:#ad46ff;
	--ml-tertiaryBright650:#8500e2;
	--ml-brand:#f0438c;
	--ml-brand200:rgba(233,30,99,0.2);
	--ml-brand500:rgb(233,30,99);
	--ml-darkGray:#1f1f1f;
	--ml-blueGray:rgb(236, 240, 246,0.5);
	--ml-gray200:#d1d5db;
	--ml-gray350:#cacacaa0;
	color:#747373
}



@media (prefers-color-scheme: dark){
	html{
		--ml-core300:rgba(32, 40, 57, 0.8);
		--ml-core350: rgba(17,24,39,0.8);
		--ml-core900:rgb(17,24,39);
		--ml-core400:#121828;
		--ml-core450:#061230;
		--ml-core800:rgba(17,24,39,0.8);
		--ml-core900:rgb(17,24,39);
		--ml-core950:#000;
		--ml-accent900:#fff;
		--ml-accent850:rgb(209,213,219,1);
		--ml-accent750:rgb(209,213,219,0.3);
		--ml-accent800:#d1d5db;
		--ml-core550:#1f2937;
		--ml-core700:#111827;
		--ml-core750:#121828;
		--ml-core650:#251942;
		--ml-core600:#321933;
		--ml-core500:#2e2e2e;
		--ml-primary800:rgba(30,58,138,0.4);
		--ml-primary750:rgba(25,60,184,0.5);
		--ml-primary700:rgba(30,64,175,0.6);
		--ml-primary650:rgba(20,71,230,0.7);
		--ml-primary300:rgb(190,219,255);
		--ml-primary400:rgb(142,197,255);
		--ml-secondary800:rgba(134,16,67,0.5);
		--ml-secondary750:rgba(240,67,140,0.3);
		--ml-secondary700:rgba(163,0,76,0.7);
		--ml-secondary650:rgba(198,0,92);
		--ml-secondary300:rgb(244,114,182);
		--ml-secondary400:rgb(249,168,212);
		--ml-tertiary800:rgba(89,22,139,0.4);
		--ml-tertiary750:rgba(110,17,176,0.4);
		--ml-tertiary700:rgba(110,17,176,0.6);
		--ml-tertiary650:rgba(127,34,254,0.6);
		--ml-tertiary300:rgb(218,178,255);
		--ml-tertiary400:rgb(233,212,255);
		--ml-wrong900:rgba(130,24,26,0.4);
		--ml-wrong800:rgba(159,7,18,0.6);
		--ml-wrong850:rgba(159,7,18,0.5);
		--ml-wrong750:rgba(193,0,7,0.7);
		--ml-correct900:rgba(13,84,43,0.4);
		--ml-correct800:rgba(1,102,48,0.6);
		--ml-correct850:rgba(1,102,48,0.4);
		--ml-correct750:rgba(0,130,54,0.6);
		// arts
		--ml-art900:#450c00;
		--ml-art850:#420039;
		--ml-art800:#000942;
		--ml-art750:#003b2a;
	}
}



@media (prefers-color-scheme: light){
	html{
		--ml-core300:#a6a6a680;
		--ml-core350: #e2e2e2b6;
		--ml-core900:rgb(255, 255, 255);
		--ml-core400:rgba(244, 198, 248, 0.55);
		--ml-core450:#2762f81f;
		--ml-core800:rgb(255, 255, 255, 0.9);
		--ml-core900:rgb(255, 255, 255);
		--ml-core950:#fff;
		--ml-accent900:rgb(17,24,39);
		--ml-accent850:rgb(41,42,51,1);
		--ml-accent800:rgba(17,24,39,0.6);
		--ml-accent750:rgba(41, 42, 51, 0.164);
		--ml-core550:#fff;
		--ml-core500:#edebeb;
		--ml-core700:rgba(242, 243, 246, 0.912);
		--ml-core750:rgb(253, 173, 245, 0.6);
		--ml-core650:rgba(218,178,255,0.3);
		--ml-core600:rgba(142,197,255,0.6);
		--ml-primary800:rgba(239,246,255,1);
		--ml-primary750:rgba(219,234,254,1);
		--ml-primary700:rgba(219,234,254,0.5);
		--ml-primary650:rgba(190,219,255,0.5);
		--ml-primary300:rgb(28,57,142);
		--ml-primary400:rgb(20,71,230);
		--ml-secondary800:rgba(252,231,243,1);
		--ml-secondary750:rgba(252,206,232,1);
		--ml-secondary700:rgba(252,206,232,0.5);
		--ml-secondary650:rgba(253, 165, 213, 0.793);
		--ml-secondary300:rgb(185,28,124);
		--ml-secondary400:rgb(194,24,91);
		--ml-tertiary800:rgba(243,232,255,1);
		--ml-tertiary750:rgba(233,212,255,1);
		--ml-tertiary700:rgba(233,212,255,0.5);
		--ml-tertiary650:rgba(218,178,255,0.5);
		--ml-tertiary300:rgb(89,22,139);
		--ml-tertiary400:rgb(130,0,219);
		--ml-wrong900:rgba(254,242,242,0.6);
		--ml-wrong800:rgba(255,226,226,0.8);
		--ml-wrong850:rgba(255,226,226,0.6);
		--ml-wrong750:rgba(255,201,201,0.8);
		--ml-correct900:rgba(224, 255, 233, 0.8);
		--ml-correct800:rgba(183, 253, 207, 0.8);
		--ml-correct850:rgba(183, 250, 207, 0.6);
		--ml-correct750:rgba(83, 250, 141, 0.6);
		// arts
		--ml-art900:#ffbcB0;
		--ml-art850:#ffa6f2;
		--ml-art800:#bfc5ff;
		--ml-art750:#9cffe5;
	}

}

