<div id="canva"
  class="Apcr1 W100p Ps M-a D-f Ai-c Jc-c Ctnn-canva Ctnt-s ">

  <div id="circle"
    class="Ps-a Apcr1 @c:canva:apcr>=1/1_H50p @c:canva:apcr<=1/1_W50p">

    <div id="ghost"
      class="Ps-r Bd0.5vmin;s;black W100p H100p Bdtlr50p Bdtrr50p Bdb0 Bxs-bb Bgc#FFDCDF">

      <div id="heart"
        class="Ps-r W10p H10p Bgc#FF3737 Tf-translate(700%,200%);rotate(25deg);scale(0.8)
        Ps-a_b B0_b L-50p_b W100p_b H100p_b Ct_b Bdrd50p_b Bgc#FF3737_b
        Ps-a_af T-50p_af R0_af W100p_af H100p_af Ct_af Bdrd150p_af Bgc#FF3737_af">
      </div>

      <div id="left-eye"
        class="Ps-a W25p H25p Bgc#000 Bdrd50p T45p L10p
          Ct_b Ps-a_b Bgc#fff_b W40p_b H40p_b Bdrd50p_b L40p_b T10p_b">
      </div>

      <div id="right-eye"
        class="Ps-a W25p H25p Bgc#000 Bdrd50p T45p R10p
          Ct_b Ps-a_b Bgc#fff_b W40p_b H40p_b Bdrd50p_b L40p_b T10p_b">
      </div>

      <div id="mouth"
        class="Ps-a W20p H10p Bd0.7vmin;s;black Bdblr100 Bdbrr100 Bdt0 T60p L40p">
      </div>
      <div id="left-hand"
        class="Ps-a W20p H20p Bd0.5vmin;s;black Bdblr100 Bdbrr100 Bdt0
        T78p L15p Tf-rotate(-45deg)"
        >
      </div>
      <div id="right-hand"
        class="Ps-a W20p H20p Bd0.5vmin;s;black Bdblr100 Bdbrr100 Bdt0
        T78p R15p Tf-rotate(45deg)">
      </div>
    </div>
    <div id="legs"
      class="D-f W100p H25p">
      <div id="leg1"
        class="W25p H100p Bd0.5vmin;s;black Bdblr100 Bdbrr100 Bdt0 Bgc#FFDCDF"></div>
      <div id="leg2"
        class="W25p H100p Bd0.5vmin;s;black Bdblr100 Bdbrr100 Bdt0 Bgc#FFDCDF"></div>
      <div id="leg3"
        class="W25p H100p Bd0.5vmin;s;black Bdblr100 Bdbrr100 Bdt0 Bgc#FFDCDF"></div>
      <div id="leg4"
        class="W25p H100p Bd0.5vmin;s;black Bdblr100 Bdbrr100 Bdt0 Bgc#FFDCDF"></div>
    </div>
  </div>
</div>