<input type="checkbox" id="menu-toggle" hidden
  class="-Ctx-burger">
<label for="menu-toggle"
  class=" D P1.5u Bd-n C-$brandC Bdrd1u Pt0 H90p Apcr1 Bgc-$headerBgc Ps-r Bgc-$headerBgc
   ^burger:c:+_Bgc-$brandC Tsd-$transD ^burger:c:+_Bdc-$brandC Fns1.5e ^burger:c:+_C-$headerBgc ^burger:c:+_Bdc-n Zi4">
  ☰
</label>

<label id="overlay" for="menu-toggle"
  class="Ps-a W100vw Tsd-$transD H100vh T0 R0 D Bgc-n ^burger:!c:~_Pne-n ^burger:c:~_Bgc-rgba(0,0,0,0.6)">
</label>
