<input type="checkbox" id="menu-toggle" hidden
  class="-Ctx-burger Zi5">
<label for="menu-toggle"
  class="D P1.5u Bd-n Bdrd1u Pt0 H90p Apcr1 Bgc-$core800 Ps-r Bgc-$core800 Zi5 Tsd-$transD
	D_af,b W5u_af,b H0.6u_af,b M1.5u;0_af,b Bgc-$brand_af,b Zi10_af,b Ct_af,b
	Bxsd0;2.1u;0;0;$brand_af
   ^burger:c:+_Bgc-$brand ^burger:c:+_Bdc-$brand ^burger:c:+_Bgc-$core800_af,b ^burger:c:+_Bxsd0;2.1u;0;0;$core800_af ^burger:c:+_Bdc-n ">
</label>

<label id="overlay" for="menu-toggle"
  class="Ps-a W100vw Tsd-$transD H100vh T0 R0 D Bgc-n ^burger:!c:~_Pne-n ^burger:c:~_Bgc#000*60p">
</label>
