<input type="checkbox" id="menu-toggle" hidden
  class="-Ctx-burger Zi5 md_D-n">
<label for="menu-toggle"
  class="D md_D-n P1.7u Bd-n Bdrd1u H90p Apcr1 Ps-r Bgc-n Zi5 Tsd-$transD
	D_af,b W6u_af,b H1u_af,b M0;0;1.3u_af,b Bgc-$brand_af,b Zi10_af,b Ct_af,b
	Bxsd0;2.3u;0;0;$brand_af
   :c:+_Bgc-$brand :c:+_Bdc-$brand :c:+_Bgc-$core800_af,b :c:+_Bxsd0;2.3u;0;0;$core800_af :c:+_Bdc-n">
</label>

<label id="overlay" for="menu-toggle"
  class="Ps-a W100vw Tsd-$transD H100vh T0 R0 D-n Bgc-n :c:~_D :c:~_Bgc#000*60p md_D-n">
</label>
