<nav class="Bgc-$sideBgc Ps-a R0 T-$headerH Ts-$longTs Tf -Trx100p Bd1;s;$brandC Bdr-n Bdtlr3u Bdblr3u Mxw200
^burger:c:~_-Trx0 W50vw P10u;0">
	<h2 class="P0;5u;7u Txa-r M0 C-$brandC"> Menu</h2>
  <ul id="anchors"
    class="C-$headerC H40p D-f Jc-c Ai-s Fld-c Gap1.5e P0;5u Txa-l
    Fns1.2e Lss-n M0">
    <li class="Pb2u Bdb1;s;$brandC">
        <a href="#features"
            class="C-$headerFontC D Txd-n C-$brandC_a W100p">
            Features
        </a>
    </li>
    <li class="Pb2u Bdb1;s;$brandC">
        <a href="#examples"
            class="C-$headerFontC D Txd-n C-$brandC_a W100p">
            Examples
        </a>
    </li>
    <li class="Pb2u Bdb1;s;$brandC">
        <a href="#arts"
            class="C-$headerFontC D Txd-n C-$brandC_a W100p">
            CSS arts
        </a>
    </li>
	</ul>

  <h2 class="P10u;5u;3u Txa-r M0 C-$brandC"> Find us</h2>
  <div id="ex-links"
    class="D-f Fld-r Jc-fe Ai-c Gap3u P0;5u">
    <div class="W30p Mxw35">
      <%- include('./github-logo.ejs') %>
    </div>
    <div class="W30p Mxw35">
      <%- include('./xcom-logo.ejs') %>
    </div>
  </div>
</nav>