<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style/style.min.css">
    <title>MLUT</title>
</head>
<body class="Mnh100vh D-f Fld-c Jc-sb Bgc#f5f5f5 Fnf-sans-serif">

    <%- include('../_includes/header.ejs') %>
    <main class="">
        <h1 class="Txa-c"> <%= title %> </h1>
        <%- content %>  
    </main>

    <%- include('../_includes/footer.ejs') %>

</body>
</html>