<!DOCTYPE html>
<html lang="en"
  class="
		Bxs-cb
    @:pfcs-d_-HeaderBgc-rgba(17,24,39,0.9) @:pfcs-l_-HeaderBgc-rgba(255,255,255,0.9)
		@:pfcs-d_-SideBgc-rgb(17,24,39) @:pfcs-l_-SideBgc-rgb(255,255,255)
    @:pfcs-d_-GhLogoBgc#ffffff @:pfcs-l_-GhLogoBgc#111827
    @:pfcs-d_-BodyBgc#000 @:pfcs-l_-BodyBgc#fff
    @:pfcs-d_-HeaderFontC#d1d5db @:pfcs-l_-HeaderFontC#292a33
		@:pfcs-d_-BodyFontC#fff @:pfcs-l_-BodyFontC-rgb(17,24,39)
		@:pfcs-d_-FeaturesBgc#1f2937 @:pfcs-l_-FeaturesBgc#f9fafb
		Fns16 lg_Fns17 xl_Fns19 xxl_Fns21
    -BrandC#f0438c Ovx-h -HeaderH50 -HeaderFns1e -LongTs0.5s -ShortTs0.2s
	  md_-HeaderH65 lg_-HeaderH70 xl_-HeaderH75 md_-SideH90vh
    Scb-s">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style/style.min.css">
  <title>MLUT</title>
</head>
<body class="D-f Fld-c Jc-sb Fnf-sans-serif Bxs-bb Ovx-h Bgc-$bodyBgc">

  <%- include('../_includes/header/header.ejs') %>
  <main >
    <%- content %>
  </main>

  <%- include('../_includes/footer.ejs') %>

</body>
</html>